body {
	width: calc(100vw - 24px);
	height: calc(100vh - 24px);
	margin: 12px;
}

section {
	gap: 12px;
}

.container {
	display: flex;
	flex-direction: column;
	height: 100%;
}

.h-container {
	display: flex;
	flex-direction: row;
}

.toolbar {
	border: 1px solid black;
	padding: 12px;
}

.toolbar > label {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.toolbar > label > * {
	margin-left: 12px;
}

.toolbar > *:not(:last-child) {
	margin-bottom: 12px;
}

.notes-container {
	display: flex;
	flex: 1;
}

.notes {
	flex: 50%;
}

#error {
	color: var(--red-1);
}
