body {
	width: calc(100vw - 24px);
	height: calc(100vh - 24px);
	margin: 12px;
}

section {
	gap: 12px;
}

#container {
	display: flex;
	flex-direction: column;
	width: 100%;
	height: 100%;
}

.notes {
	width: 50%;
}

#toolbar {
	display: flex;
}

#notes {
	display: flex;
	flex: 1;
}

#error {
	color: var(--red-1);
}
